<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>Base Questions</title>
</head>
<body>
    <h1>Guesspionage</h1>
    
    <form method="POST" action="/baseQs/" class="baseQs">
        <p>To start the game, answer the following questions first</p>
        <fieldset>
            <legend></legend>
            <ol>
                <% questionsList.forEach((question, index) => {%>
                    <% const name = "yesAndNo" + index %>
                    <% const hiddenName = "id" + index %>
                    <% const yesId = "Yes" + index % + "Option" %>
                    <% const noId = "No" + index % + "Option" %>
                    <li>Are you part of the percentage of people that <%= question.question %></li>
                    <label>
                        <input type="radio" name="<%= name %>" value="Yes" required="required" id="<%= yesId %>">
                        Yes
                    </label>
                    <label>
                        <input type="radio" name="<%= name %>" value="No" required="required" id="<%= noId %>">
                        No
                    </label>
                    <input type="hidden" name="<%= hiddenName %>" value="<%= question.id %>">
                    <p></p>
                <% }) %>
            </ol>
        </fieldset>
        <p><button type="submit" value="base" id="start">Start Game</button></p>
    </form>    
    <a href="/" class="homeB">
        <button>Home Page</button>
    </body>
</html>