<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Base Questions</title>
</head>
<body>
    <h1>Guesspionage</h1>
    <p>To start the game, answer the following questions first</p>
    <form method="POST" action="/baseQs/" id="baseQs">
        <fieldset>
            <legend></legend>
            <ol>
                <% questionsList.forEach((question, index) => {%>
                    <% const name = "yesAndNo" + index %>
                    <% const hiddenName = "id" + index %>
                    <% const yesId = "Yes" + index % + "Option" %>
                    <% const noId = "No" + index % + "Option" %>
                    <li><%= question.question %></li>
                    <label>
                        <input type="radio" name="<%= name %>" value="Yes" required="required" id="<%= yesId %>">
                        Yes
                    </label>
                    <label>
                        <input type="radio" name="<%= name %>" value="No" required="required" id="<%= noId %>">
                        No
                    </label>
                    <input type="hidden" name="<%= hiddenName %>" value="<%= question.id %>">
                    <p></p>
                <% }) %>
            </ol>
        </fieldset>
        <p><button type="submit" value="base" id="start">Start Game</button></p>
    </form>    